<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gridview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Keja Shuleni"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GridView">
        <activity
            android:name=".activities.RatingBarActivity"
            android:exported="false"
            android:theme="@style/Theme.GridView.activitiesTheme"/>
        <activity
            android:name=".activities.DatePickerActivity"
            android:exported="false"
            android:theme="@style/Theme.GridView.activitiesTheme" />
        <activity
            android:name=".activities.MainActivityScanner"
            android:exported="false"
            android:theme="@style/Theme.GridView.activitiesTheme" />
        <activity
            android:name=".activities.HouseDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.GridView.activitiesTheme" />
        <activity
            android:name=".activities.HousesActivity"
            android:exported="false"
            android:theme="@style/Theme.GridView.activitiesTheme" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>